<div class=" flex items-center justify-center">
  <%= form_with(model: task, local: true, id: "form", class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do |form| %>
    <h1 class="block text-gray-700 font-bold mb-2 text-xl text-center">Task Form</h1>
    <br>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb4">
      <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: true %>
    </div>
    <br>
    <div class="mb4">
      <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_area :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <br>
    <div class="mb4">
      <%= form.label :deadline, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :deadline, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", onfocus: "(this.type='datetime-local')" %>
    </div>
    <br>
    <% if task.persisted? %>
      <div class="mb4">
        <span class="text-xs">Current state is <%= task.current_state %></span>
        <%= form.label :transition_state, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= select_tag "state", options_for_select(TaskStateMachine.states, task.current_state), class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <br>
    <% end %>

    <div class="flex items-center justify-between">
      <%= form.submit "Save Task", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
